<style>
a {
    color: black;
    transition: background-color 0.5s;
    text-decoration: none;
}

a:hover {
    background-color: gold;
    text-decoration: underline;
    text-decoration-color: brown;
}

#ver:hover {
    color: red;
    transition: color 0.5s;
}
</style>
