#nav {
    justify-content: center;
    position: relative;
    border-radius: 10em;
    list-style: none;
    background-color:white;
    box-shadow: 20px 30px 20px #00000033;
    padding: 10px;
    width: 60%;
    display: flex;
    margin: 0 auto;  /*居中 */
}

#nav li a {
    position: relative;
    padding: 13px 40px;
    font: 450 20px '优设标题黑';
    white-space: nowrap;
    border: none;
    outline: none;
    color: rgb(70, 100, 180);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 75%;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(170, 190, 255);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170, 190, 255, .5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}
@media (max-width: 768px) {
    #nav {
        padding: 0.5rem;
        width: 100%;
    }

    #nav li a {
        font-size: 1rem;
        padding: 0.7rem 1rem;
    }

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 75%;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}
}